---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: proxmoxclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: ProxmoxCluster
    listKind: ProxmoxClusterList
    plural: proxmoxclusters
    singular: proxmoxcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster
      jsonPath: .metadata.labels['cluster\.x-k8s\.io/cluster-name']
      name: Cluster
      type: string
    - description: Cluster infrastructure is ready
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: API Endpoint
      jsonPath: .spec.controlPlaneEndpoint
      name: Endpoint
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ProxmoxCluster is the Schema for the proxmoxclusters API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProxmoxClusterSpec defines the desired state of ProxmoxCluster.
            properties:
              allowedNodes:
                description: AllowedNodes specifies all Proxmox nodes which will be
                  considered for operations. This implies that VMs can be cloned on
                  different nodes from the node which holds the VM template.
                items:
                  type: string
                type: array
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              dnsServers:
                description: DNSServers contains information about nameservers used
                  by machines network-config.
                items:
                  type: string
                minItems: 1
                type: array
              ipv4Config:
                description: IPv4Config contains information about available IPV4
                  address pools and the gateway. this can be combined with ipv6Config
                  in order to enable dual stack. either IPv4Config or IPv6Config must
                  be provided.
                properties:
                  addresses:
                    description: Addresses is a list of IP addresses that can be assigned.
                      This set of addresses can be non-contiguous.
                    items:
                      type: string
                    type: array
                  gateway:
                    description: Gateway
                    type: string
                  prefix:
                    description: Prefix is the network prefix to use.
                    maximum: 128
                    type: integer
                required:
                - addresses
                - prefix
                type: object
                x-kubernetes-validations:
                - message: IPv4Config addresses must be provided
                  rule: self.addresses.size() > 0
              ipv6Config:
                description: IPv6Config contains information about available IPV6
                  address pools and the gateway. this can be combined with ipv4Config
                  in order to enable dual stack. either IPv4Config or IPv6Config must
                  be provided.
                properties:
                  addresses:
                    description: Addresses is a list of IP addresses that can be assigned.
                      This set of addresses can be non-contiguous.
                    items:
                      type: string
                    type: array
                  gateway:
                    description: Gateway
                    type: string
                  prefix:
                    description: Prefix is the network prefix to use.
                    maximum: 128
                    type: integer
                required:
                - addresses
                - prefix
                type: object
                x-kubernetes-validations:
                - message: IPv6Config addresses must be provided
                  rule: self.addresses.size() > 0
              schedulerHints:
                description: SchedulerHints allows to influence the decision on where
                  a VM will be scheduled. For example by applying a multiplicator
                  to a node's resources, to allow for overprovisioning or to ensure
                  a node will always have a safety buffer.
                properties:
                  cpuAdjustment:
                    description: Like MemoryAdjustment, but for CPU resources. Defaults
                      to 0 (disabled), as CPU is a compressible resource.
                    format: int64
                    type: integer
                  memoryAdjustment:
                    description: MemoryAdjustment allows to adjust a node's memory
                      by a given percentage. For example, setting it to 300 allows
                      to allocate 300% of a host's memory for VMs, and setting it
                      to 95 limits memory allocation to 95% of a host's memory. Setting
                      it to 0 entirely disables scheduling memory constraints. By
                      default 100% of a node's memory will be used for allocation.
                    format: int64
                    type: integer
                  preferLowerGuestCount:
                    default: true
                    type: boolean
                type: object
            required:
            - dnsServers
            type: object
            x-kubernetes-validations:
            - message: at least one ip config must be set, either ipv4Config or ipv6Config
              rule: self.ipv4Config != null || self.ipv6Config != null
          status:
            description: ProxmoxClusterStatus defines the observed state of ProxmoxCluster.
            properties:
              conditions:
                description: Conditions defines current service state of the ProxmoxCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              inClusterIpPoolRef:
                description: InClusterIPPoolRef is the reference to the created in
                  cluster ip pool
                items:
                  description: LocalObjectReference contains enough information to
                    let you locate the referenced object inside the same namespace.
                  properties:
                    name:
                      description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?'
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              nodeLocations:
                description: NodeLocations keeps track of which nodes have been selected
                  for different machines.
                properties:
                  controlPlane:
                    description: ControlPlane contains all deployed control plane
                      nodes
                    items:
                      description: NodeLocation holds information about a single VM
                        in Proxmox.
                      properties:
                        machine:
                          description: Machine is the reference of the proxmoxmachine
                          properties:
                            name:
                              description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                                TODO: Add other useful fields. apiVersion, kind, uid?'
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        node:
                          description: Node is the Proxmox node
                          type: string
                      required:
                      - machine
                      - node
                      type: object
                    type: array
                  workers:
                    description: Workers contains all deployed worker nodes
                    items:
                      description: NodeLocation holds information about a single VM
                        in Proxmox.
                      properties:
                        machine:
                          description: Machine is the reference of the proxmoxmachine
                          properties:
                            name:
                              description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                                TODO: Add other useful fields. apiVersion, kind, uid?'
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        node:
                          description: Node is the Proxmox node
                          type: string
                      required:
                      - machine
                      - node
                      type: object
                    type: array
                type: object
              ready:
                default: false
                description: Ready indicates that the cluster is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
