name: container-image

on:
  push:
    branches:
      - main
      - release-*
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  pull_request:
    branches:
      - main
      - release-*

permissions:
  contents: write
  packages: write

jobs:
  image:
    name: build image
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Generate lowercase repository name
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >> "${GITHUB_ENV}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.REPO }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: ${{ github.event_name == 'pull_request' }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Scan image
        if: github.event_name == 'pull_request'
        uses: aquasecurity/trivy-action@0.30.0
        id: scan
        with:
          scan-ref: ${{ steps.meta.outputs.tags }}
          exit-code: '1'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
