name: e2e tests

on:
  push:
    branches: ["main"]
  pull_request: {}

jobs:
  e2e:
    runs-on: [capmox,e2e,dcd-playground]
    env:
      PROXMOX_URL: ${{ secrets.PROXMOX_URL }}
      PROXMOX_TOKEN: ${{ secrets.PROXMOX_TOKEN }}
      PROXMOX_SECRET: ${{ secrets.PROXMOX_SECRET }}
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Run e2e tests
        run: "make test-e2e"
