name: e2e tests

on:
  push:
    branches: ["main"]
  pull_request_target:
    types: ["opened", "synchronize", "reopened"]
    branches: ["main"]

jobs:
  e2e:
    runs-on: [capmox,e2e,dcd-playground]
    environment: e2e
    env:
      PROXMOX_URL: ${{ secrets.PROXMOX_URL }}
      PROXMOX_TOKEN: ${{ secrets.PROXMOX_TOKEN }}
      PROXMOX_SECRET: ${{ secrets.PROXMOX_SECRET }}
    steps:
      - name: Check out branch ${{ github.ref }}
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@v4.1.1

      - name: Check out PR ${{ github.event.pull_request.number }}
        if: ${{ github.event_name == 'pull_request_target' }}
        uses: actions/checkout@v4.1.1
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: webiny/action-post-run@3.1.0
        name: Cleanup kind clusters
        id: post-run
        with:
          run: "sh -c 'kind get clusters | xargs -I % kind delete cluster --name %'"

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run e2e tests
        run: "make test-e2e"
