name: e2e tests

on:
  push:
    branches: ["main"]
  pull_request_target:
    types: ["opened", "synchronize", "reopened", "labeled", "unlabeled"]
    branches: ["main"]

jobs:
  e2e:
    if: ${{ ! contains( github.event.pull_request.labels.*.name, 'e2e/none') }}
    runs-on: [capmox,e2e,dcd-playground]
    environment: e2e
    env:
      PROXMOX_URL: ${{ secrets.PROXMOX_URL }}
      PROXMOX_TOKEN: ${{ secrets.PROXMOX_TOKEN }}
      PROXMOX_SECRET: ${{ secrets.PROXMOX_SECRET }}
      SKIP_E2E: Flatcar
    steps:
      - name: Check out branch ${{ github.ref }}
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@v5

      - name: Check out PR ${{ github.event.pull_request.number }}
        if: ${{ github.event_name == 'pull_request_target' }}
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Check if requested to skip Flatcar tests
        if: ${{ contains( github.event.pull_request.labels.*.name, 'e2e/flatcar') }}
        run: echo 'SKIP_E2E=""' >> "$GITHUB_ENV"

      - name: Run e2e tests
        run: "make test-e2e GINKGO_SKIP=${{ env.SKIP_E2E }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: logs
          path: _artifacts
          retention-days: 7

      - name: Cleanup kind clusters
        uses: gacts/run-and-post-run@v1
        with:
          post: |
            kind get clusters | xargs -I% kind delete cluster --name %
            docker system prune -a -f
