name: release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write # Allow to create a release.

jobs:
  build:
    name: create draft release
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run:  echo "RELEASE_TAG=${GITHUB_REF##refs/tags/}" >> "$GITHUB_ENV"
      - name: checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: generate release artifacts
        run: |
          make release-manifests RELEASE_VERSION=${{ env.RELEASE_TAG }}
      - name: generate release templates
        run: |
          make release-templates
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: out/*
          generate_release_notes: true
